<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootsstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="card text-center">
		<div class="card-header bg-danger">
			<a href="/"> <img
				src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg">
			</a>
		</div>
		<div class="text-center pt-3 pb-3 bg-dark">
			<h5 class="card-title text-white">Cadena Evolutiva</h5>
		</div>
	</div>

	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-center" th:text="${evol1.species.name}"></h5>
				<div class="card-text text-center">
					<img style="border: 1px solid; color: red; border-radius: 50%;"
						th:src="${evol1.sprites.front_default}" width="200" height="200" />
				</div>
			</div>
			<div class="card-footer text-center">
				<a th:href="@{/info/{name}(name=${evol1.species.name})}"
					class="btn btn-danger text-white">Ver Detalle</a>
			</div>
		</div>

		<div class="card" th:if="${!(evol2 == null)}">

			<div class="card-body">
				<h5 class="card-title text-center" th:text="${evol2.species.name}"></h5>
				<div class="card-text text-center">
					<img style="border: 1px solid; color: red; border-radius: 50%;"
						th:src="${evol2.sprites.front_default}" width="200" height="200" />
				</div>
			</div>
			<div class="card-footer text-center">
				<a th:href="@{/info/{name}(name=${evol2.species.name})}"
					class="btn btn-danger text-white">Ver Detalle</a>
			</div>
		</div>

		<div class="card" th:if="${!(evol3 == null)}">

			<div class="card-body">
				<h5 class="card-title text-center" th:text="${evol3.species.name}"></h5>
				<div class="card-text text-center">
					<img style="border: 1px solid; color: red; border-radius: 50%;"
						th:src="${evol3.sprites.front_default}" width="200" height="200" />
				</div>
			</div>
			<div class="card-footer text-center">
				<a th:href="@{/info/{name}(name=${evol3.species.name})}"
					class="btn btn-danger text-white">Ver Detalle</a>
			</div>
		</div>

	</div>

</body>
</html>